.landing-container-vertical {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height));
  width: 100%;
}


.landing-container-horizontal {
  display: flex;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
}

.content-center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.button-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}


/* BeLLa Section */
.BeLLa-section {
  flex: 1;
  background-color: #000;
  position: relative;
  height: calc(100vh - var(--header-height));
  padding-bottom: 15rem;
}

.github-icon {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* Product Section */
.Product-section {
  flex: 1;
  background-color: #181818;
  position: relative;
  height: calc(100vh - var(--header-height));
}

/* Team Section */
.Team-section {
  width: 100%;
  background-color: #000;
  position: relative;
  height: calc(100vh - var(--header-height));
}

/* Github Contributors Section */
.Github-contributors-section {
  width: 100%;
  background-color: #181818;
  position: relative;
  height: calc(100vh - var(--header-height));
}

/* Blog Section */
.Blog-section {
  width: 100%;
  background-color: #000;
  position: relative;
  height: calc(100vh - var(--header-height));
}