#ignore sensitive information and files
# Ignore virtual environments
venv/

# Ignore environment variables
.env

# Ignore SQLite database
app/data/data.db

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

#ignore uploaded files
app/uploads/

# Ignore other system files
.DS_Store
Thumbs.db
