@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
      }
  }
  
  @layer utilities {
    .animate-fade-in {
      animation: fade-in 0.5s ease-out forwards;
    }
  }
  
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
      max-height: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
      max-height: 1000px;
    }
  }
  
  @keyframes slideUp {
    from {
      opacity: 1;
      transform: translateY(0);
      max-height: 1000px;
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
      max-height: 0;
    }
  }
    