:root {
    --primary-black: #111111;
    --secondary-black: #333333;
    --primary-white: #ffffff;
    --secondary-white: #e4e4e4;
    --primary-blue: #0066FF;
    --hover-blue: #0052a3;
    --primary-gray: #181818;
    --secondary-gray: #222222;
    --transition-speed: 0.2s;
}

@layer base {
  :root {
    --background: 0 0% 100%;
  }

  body {
    @apply bg-black text-white antialiased;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
} 

.button-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.button-container.side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CobuterMan-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 180px;
  padding: 1rem;
}

.CobuterMan-container.side {
  position: absolute;
  bottom: 2rem;
  right: -2rem;
  transform: rotate(90deg);
  padding: 0.5rem;
  margin-top: auto;
}
